@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background-color: azure;
}
.wrapper{
    height: 100%;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
    max-height: 720px;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
p {
    padding: 10px 0 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: blue;
}
img{
    display: block;
    padding-top: 30px;
    margin: 0 auto;
    max-height: 250px;
}

input[name="r"] {
    width: 0; 
    visibility: hidden;
     margin: 0;
}
.nameContainer {    height: 30px;
    border-top: 1px gray solid;
}
.wrapperImg {
    overflow: hidden;
    height: 0px;
    border-bottom: 1px gray solid;
}
.wrapperImg  img{
    padding-bottom: 30px;
}
.btm img {
    max-width: 15px;
    padding: 0;
    transform: rotate(45deg);
    visibility: hidden;
}
.nameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bar:hover {
    cursor: pointer;
}

.bar:active .nameContainer p{
    
     color: blue 
}
.bar:active  {
    cursor: progress;
}


#r1:checked ~ .container .s1{
    height: 300px;
    transition: all 1s ease;
    
}
#r1:checked ~ .container .s1_1 .btm img{
    transform: rotate(0deg);
}
#r1:checked ~ .container .s1_1 p{
    color: black;
}
#r2:checked ~ .container .s2{
    height: 300px;
    transition: all 1s ease;
}
#r2:checked ~ .container .s2_2 .btm img{
    transform: rotate(0deg);
}
#r2:checked ~ .container .s2_2 p{
    color: black;
}
#r3:checked ~ .container .s3{
    height: 300px;
    transition: all 1s ease;
}
#r3:checked ~ .container .s3_3 .btm img{
    transform: rotate(0deg);
}
#r3:checked ~ .container .s3_3 p{
    color: black;
}
#r4:checked ~ .container .s4{
    height: 300px;
    
    transition: all 1s ease;
}
#r4:checked ~ .container .s4_4 .btm img{
    transform: rotate(0deg);
}
#r4:checked ~ .container .s4_4 p{
    color: black;
}

#r1:hover ~ .container .s1{
    height: 300px;
    
    transition: all 1s ease;
}
#r1:hover ~ .container .s1_1 .btm img{
    transform: rotate(0deg);
    transition: all 1s ease;
}
#r2:hover ~ .container .s2{
    height: 300px;
    
    transition: all 1s ease;
}
#r2:hover ~ .container .s2_2 .btm img{
    transform: rotate(0deg);
    transition: all 1s ease;
}
#r3:hover ~ .container .s3{
    height: 300px;
    transition: all 1s ease;
}
#r3:hover ~ .container .s3_3 .btm img{
    transform: rotate(0deg);
    transition: all 1s ease;
}
#r4:hover ~ .container .s4{
    height: 300px;
    
    transition: all 1s ease;
}
#r4:hover ~ .container .s4_4 .btm img{
    transform: rotate(0deg);
    transition: all 1s ease;
}


.container:hover .nameContainer .btm img {
    visibility: visible;
}
.container:hover p {
    color: black;
}